@charset "UTF-8";
:root {
  --biya-color: #2d699d;
  --biya-bg: #f4f7fa;
  --font-family-a: "PoppinsMedium";
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("./Fonts/Poppins-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

::-webkit-scrollbar {
  height: 0px; /* height of horizontal scrollbar ← You're missing this */
  width: 0px; /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 80px;
  background: #b32525;
}

::-webkit-scrollbar-thumb {
  border-radius: 80px;
  background: #b0b0b0;
}

.Auth-Login {
  display: flex;
  overflow-y: auto;
  height: 100vh;
  background-color: #f4f7fa;
}
.Auth-Login .left-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  background-image: url("./Images//Frame.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.Auth-Login .left-div .text .message-1 {
  width: fit-content;
  color: #002855;
  font-family: Roboto;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Auth-Login .left-div .text .message-2 {
  width: fit-content;
  color: #2e2e2e;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Auth-Login .right-div {
  display: flex;
  align-items: center;
  width: 50vw;
  margin-bottom: 60px;
}
.Auth-Login .right-div .img {
  margin-top: 80px;
  margin-left: 35px;
  width: 323px;
  height: 134px;
  flex-shrink: 0;
  background: url("./Images/biyaLogo.png"), lightgray -101.056px -150.456px/157.895% 378.947% no-repeat;
}
.Auth-Login .right-div .form-holder {
  margin-top: 20px;
  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 504px;
  height: 375px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Auth-Login .right-div .form-holder form .field-holder {
  width: fit-content;
  margin: 25px auto;
}
.Auth-Login .right-div .form-holder form .field-holder .title {
  width: 120px;
  height: 18px;
  flex-shrink: 0;
  color: #002855;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Auth-Login .right-div .form-holder form .field-holder .description {
  width: 80%;
  height: 20px;
  flex-shrink: 0;
  color: #828282;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Auth-Login .right-div .form-holder form .field-holder .field {
  position: relative;
}
.Auth-Login .right-div .form-holder form .field-holder .field svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  left: 25px;
  top: 5px;
}
.Auth-Login .right-div .form-holder form .field-holder .field input {
  width: 358px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 80px;
  border: 1px solid #dfe6ec;
  background: #f8fbfd;
  padding-left: 50px;
}
.Auth-Login .right-div .form-holder form .forgot-password {
  margin: 5px auto;
  width: 358px;
  color: #828282;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Auth-Login .right-div .form-holder form .forgot-password a {
  color: #072c7c;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}
.Auth-Login .right-div .form-holder form .forgot-password button {
  width: 129px;
  height: 35px;
  flex-shrink: 0;
  border: 0px;
  border-radius: 94px;
  background: #4fadea;
  cursor: pointer;
  margin-left: 10px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Auth-Signup {
  display: flex;
  overflow-y: auto;
  height: 100vh;
  background-color: #f4f7fa;
}
.Auth-Signup .left-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  background-image: url("./Images//Frame.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.Auth-Signup .left-div .text .message-1 {
  width: fit-content;
  color: #002855;
  font-family: Roboto;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Auth-Signup .left-div .text .message-2 {
  width: fit-content;
  color: #2e2e2e;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Auth-Signup .right-div {
  display: flex;
  align-items: center;
  width: 50vw;
  margin-bottom: 60px;
}
.Auth-Signup .right-div .img {
  margin-top: 80px;
  margin-left: 35px;
  width: 323px;
  height: 134px;
  flex-shrink: 0;
  background: url("./Images/biyaLogo.png"), lightgray -101.056px -150.456px/157.895% 378.947% no-repeat;
}
.Auth-Signup .right-div .form-holder {
  margin-top: 20px;
  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 504px;
  height: 504px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Auth-Signup .right-div .form-holder form .field-holder {
  width: fit-content;
  margin: 25px auto;
}
.Auth-Signup .right-div .form-holder form .field-holder .title {
  width: 120px;
  height: 18px;
  flex-shrink: 0;
  color: #002855;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Auth-Signup .right-div .form-holder form .field-holder .description {
  width: 80%;
  height: 20px;
  flex-shrink: 0;
  color: #828282;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Auth-Signup .right-div .form-holder form .field-holder .field {
  position: relative;
}
.Auth-Signup .right-div .form-holder form .field-holder .field svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  left: 25px;
  top: 5px;
}
.Auth-Signup .right-div .form-holder form .field-holder .field input {
  width: 358px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 80px;
  border: 1px solid #dfe6ec;
  background: #f8fbfd;
  padding-left: 50px;
}
.Auth-Signup .right-div .form-holder form .forgot-password {
  margin: 5px auto;
  width: 358px;
  color: #828282;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Auth-Signup .right-div .form-holder form .forgot-password a {
  color: #072c7c;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}
.Auth-Signup .right-div .form-holder form .forgot-password button {
  width: 129px;
  height: 35px;
  flex-shrink: 0;
  border: 0px;
  border-radius: 94px;
  background: #4fadea;
  cursor: pointer;
  margin-left: 10px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home {
  background: #f4f7fa;
  height: 100vh;
  display: flex;
}
.Home .left-div {
  width: 16vw;
}
.Home .left-div img {
  width: 7vw;
  margin-top: 2vh;
  margin-left: 1vw;
}
.Home .left-div .side-bar {
  margin-top: 50px;
}
.Home .left-div .side-bar .side-component {
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.Home .left-div .side-bar .side-component img {
  width: 30px;
  margin: 5px 10px 5px 20px;
}
.Home .left-div .side-bar .side-component:hover {
  cursor: pointer;
}
.Home .right-div .user .holder {
  width: fit-content;
  margin: 3vh 1vw 3vh auto;
  display: flex;
  align-items: center;
}
.Home .right-div .user .holder .userImg {
  margin-right: 7px;
}
.Home .right-div .user .holder img {
  margin-left: 7px;
}
.Home .right-div .user .holder img:hover {
  cursor: pointer;
}
.Home .right-div .right-content {
  overflow-y: auto;
  width: 84vw;
  height: 92vh;
  border-radius: 20px 0px 0px 0px;
  background: #fff;
}
.Home .right-div .right-content .card-holder {
  display: flex;
}
.Home .right-div .right-content .card-holder .card {
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 20px;
  background: #fff;
  width: 390.6px;
  height: 129.138px;
  flex-shrink: 0;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
}
.Home .right-div .right-content .card-holder .card:nth-child(1) {
  margin-left: 38px;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .name {
  display: flex;
  height: 60px;
  padding: 5px 5px 5px 18px;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .name .left {
  color: #000;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .name .left svg {
  padding-top: 6px;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .name .left svg:hover {
  cursor: pointer;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .name .right {
  flex: 1;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .name .right .add {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-top: 9px;
  color: #049dfe;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .name .right .add img {
  margin-top: 0px;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .name .right .add img:nth-child(1) {
  margin-right: 5px;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .name .right .add img:hover {
  cursor: pointer;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .amount {
  padding: 2px 5px 2px 18px;
  color: #000;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Home .right-div .right-content .card-holder .card:nth-child(1) .amount span {
  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Home .right-div .right-content .card-holder .card:nth-child(2) {
  border-radius: 20px;
  background: #e72f3d;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home .right-div .right-content .card-holder .card:nth-child(2) div {
  color: #fff;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 25px;
}
.Home .right-div .right-content .card-holder .card:nth-child(2) img {
  display: inline-flex;
  width: 100.248px;
  height: 100.248px;
  transform: rotate(360deg);
  padding: 1.203px 2.558px 1.536px 0.181px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.Home .right-div .right-content .card-holder .card:nth-child(3) {
  border-radius: 20px;
  background: #049dfe;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home .right-div .right-content .card-holder .card:nth-child(3) div {
  color: #fff;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 25px;
}
.Home .right-div .right-content .card-holder .card:nth-child(3) img {
  display: inline-flex;
  width: 55.345px;
  height: 55.345px;
  transform: rotate(360deg);
  padding: 1.203px 2.558px 1.536px 0.181px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.Home .right-div .right-content .recent-transaction {
  margin-left: 38px;
  margin-bottom: 40px;
  width: 784px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
